            .checklocation { 
                font-size:40px; 
                font-weight:bold; 
                color:#000; 
                margin-left:50px;
                font-family: arial; 
            } 
            .button1 { 
                margin-left:150px; 
            } 
            p { 
                font-size:20px; 
                margin-left:20px; 
            } 